header(md-page-header="")
    div(md-header-picture="", style="background-image:url(/img/main.jpg)")
    md-toolbar(pt-scroll="")
        .md-toolbar-tools
            md-button.md-tools(aria-label="Ayudar")
                i.ion-heart
            h2(md-header-title="", flex="", style= "color:black") Rescate Animal
            //md-button.md-tools(aria-label="Opciones")
                i.ion-android-more-vertical


            lx-dropdown(position="right", from-top="true")
                button.btn.btn--m.btn--white.btn--icon(lx-ripple="", lx-dropdown-toggle="")
                    i.mdi.mdi-dots-vertical
                lx-dropdown-menu
                    ul
                        li
                            a.dropdown-link Action
                        li
                            a.dropdown-link Another action
                        li
                            a.dropdown-link Something else here
                        li.dropdown-divider
                        li
                            a.dropdown-link.dropdown-link--is-header Header
                        li
                            a.dropdown-link Separated link


    .main-fab
        md-button.md-fab.md-accent(aria-label="")
            i.ion-android-star
br
br
section#page-section

    div(layout="row", layout-align="center center")
        div(flex="55")
            md-content
                //h2 Rescate Animal
                p
                    | Asociación sin fines de lucro que se dedica a rescatar y salvar animales de la calle que se encuentren en peligro y que han sido maltratados o abusados.

    md-divider
