header(md-page-header="")
    div(flex-item="")
        .card.bgc-indigo-500
            .toolbar
                button(class="btn btn--l btn--white btn--icon", lx-ripple ="")
                    i(class="mdi mdi-menu")
                span.toolbar__label.fs-title.tc-white-1.ml Rescate Animal
                .toolbar__right
                    lx-search-filter(model="searchFilter.sixth", position="right", theme="dark", closed="", placeholder="Buscar")
                    //button.btn.btn--l.btn--white.btn--icon(lx-ripple="")
                        i.mdi.mdi-apps



div(md-header-picture="", style="background-image:url(/img/main.jpg)")
.main-fab
    md-button.md-fab.md-accent(aria-label="")
        i.ion-android-star

br
br
section#page-section

    div(layout="row", layout-align="center center")
        div(flex="55")
            md-content
                //h2 Rescate Animal
                p
                    | Asociación sin fines de lucro que se dedica a rescatar y salvar animales de la calle que se encuentren en peligro y que han sido maltratados o abusados.

    md-divider
